* {
    margin: 0;
    padding: 0;
}
.style1{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    background-color: #ffffff;
}
.style2{
    list-style: none;
    display: flex;
    gap: 30px;
}
.hero {
    display: flex;
    padding: 50px;
    background-color: #d6caa2;
    border-radius: 10px;
    margin-top: 20px;
    position: absolute;
    top: 50px;
    left: 100px;
}
.content p {
    font-size: 15px;
    color: #555;
    margin-bottom: 20px;
}
button {
    background-color: #d9534f;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
.image img {
    width: 130px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
}
